<h2>Upgrading</h2>
<p>Notes on upgrading breaking changes.</p>


<h3>0.4 to Latest</h3>
<p>Renamed the <code>extend</code> property from the component definition to <code>prototype</code> to fall more in line with the Web Component spec. It also removes any conflicting similarities with the spec'd <code>extends</code> property and is a better name for what it does.</p>
<skate-code lang="javascript">
  // 0.4
  skate('something', {
    extend: { ... }
  });

  // 0.5
  skate('something', {
    prototype: { ... }
  });
</skate-code>


<h3>0.3 to 0.4</h3>
<p>Usage of component names rather than selectors. This greatly increases performance since there's no need to match selectors and removes any ambiguity that selectors can introduce.</p>
<skate-code lang="javascript">
  // 0.3
  skate('[something]', {
    ...
  });

  // 0.4
  skate('something', {
    type: skate.types.ATTR
    ...
  });
</skate-code lang="javascript">
<p>Re-implement passing of element parameter to lifecycle callbacks. Stop using <code>this</code>. This is because we don't want to rewrite the context of these callbacks in case they refer to the definition within them using <code>this</code>.</p>
<skate-code lang="javascript">
  // 0.3
  skate('something', {
    insert: function () {
      this...
    }
  });

  // 0.4
  skate('something', {
    insert: function (element) {
      element...
    }
  });
</skate-code>
<p>Removed ability to replace element in the ready callback.</p>
<skate-code lang="javascript">
  skate('something', {
    ready: function (element, done) {
      // No longer works.
      done(newElement);
    }
  });
</skate-code>
<p>Return an element constructor instead of a Skate instance.</p>
<skate-code lang="javascript">
  // 0.3
  var listener = skate('something', ...);

  // 0.4
  var element = skate('something');
  element.listener;
</skate-code>


<h3>0.2 to 0.3</h3>
<p>Removed element parameter from lifecycle callbacks. Use <code>this</code> instead.</p>
<skate-code lang="javascript">
  // 0.2
  skate('something', {
    insert: function (element) {
      element...
    }
  });

  // 0.3
  skate('something', {
    insert: function () {
      this...
    }
  });
</skate-code>


<h3>0.1 to 0.2</h3>
<p>Rename <code>inserted</code> to <code>insert</code> to normalise tense.</p>
<skate-code lang="javascript">
  // 0.1
  skate('something', {
    inserted: ...
  });

  // 0.2
  skate('something', {
    insert: ...
  });
</skate-code>


<h3>Initial to 0.1</h3>
<p>Removed <code>each()</code> from the instance so that it doesn't get treated as a way to access elements.</p>
<skate-code lang="javascript">
  var component = skate('something', lifecycle);

  // Removed.
  component.each(doSomethingForEachElement);
</skate-code>
