.code {
  background-color: #DAD6CE;
}

.code .title {
  font-weight: 200;
  margin: 0;
  padding: 20px;
}

.code .description {
  font-size: 14px;
  font-weight: 100;
  margin: 0;
  padding: 20px;
}



.feature-pane {
  background-color: #111;
  color: #eee;
  flex-basis: 33%;
  font-size: 14px;
  margin: 10px;
}

.feature-pane a {
  color: #fff;
}

.feature-pane h3 {
  background-color: #222;
  font-weight: 200;
}

.feature-pane p {
  font-weight: 100;
}

.feature-pane h3,
.feature-pane p {
  margin: 0;
  padding: 20px;
}

.feature-panes {
  background-color: #333;
  display: flex;
  overflow: auto;
  padding: 10px;
}



.hero {
  background-color: #F4547B;
  color: #fff;
  padding: 40px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 200;
  margin-top: 0;
}

.hero p {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 0;
}
