.code {
  background-color: #F1EDE4;
}

.code .title {
  background-color: #DAD6CE;
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  padding: 20px;
}

.code .description {
  background-color: #DAD6CE;
  font-size: 14px;
  font-weight: 100;
  margin: 0;
  padding: 20px;
}



.feature-pane {
  background-color: #111;
  color: #eee;
  flex-basis: 0;
  flex-grow: 1;
  font-size: 14px;
  margin: 10px;
}

.feature-pane a {
  color: #fff;
}

.feature-pane h3 {
  background-color: #222;
  font-weight: 200;
}

.feature-pane p {
  font-weight: 100;
}

.feature-pane h3,
.feature-pane p {
  margin: 0;
  padding: 20px;
}

.feature-panes {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  padding: 10px;
}



.grid { 
  display: flex;
  flex-wrap: wrap;
}
.grid > * { 
  flex: 1 0 0;
  box-sizing: border-box;
  min-width: 100%;
}
@media (min-width: 500px) {
  .grid-2 > * { min-width: 50%; }
}
@media (min-width: 750px) {
  .grid-3 > * { min-width: 33.33%; }
}
@media (min-width: 1000px) {
  .grid-4 > * { min-width: 25%; }
}
@media (min-width: 1250px) {
  .grid-5 > * { min-width: 20%; }
}
@media (min-width: 1500px) {
  .grid-6 > * { min-width: 16.66%; }
  .grid-7 > * { min-width: 14.28%; }
  .grid-8 > * { min-width: 12.5%; }
  .grid-9 > * { min-width: 11.11%; }
  .grid-10 > * { min-width: 10%; }
}



.hero {
  background-color: #F4547B;
  color: #fff;
  padding: 40px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 200;
  margin-top: 0;
}

.hero p {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 0;
}
