html {
  font-family: Helvetica;
  font-size: 14px;
}

body {
  margin: 0;
}

a {
  color: #333;
}

:global(.gitter-open-chat-button) {
  background-color: #333333;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}