.footer {
  background-color: #333;
  color: #eee;
  font-size: 12px;
  padding: 10px 20px;
}

.item {
  padding: 0;
}

.link {
  color: #eee;
  text-decoration: none;
}

.list {
  padding: 0 0 0 20px;
}
